footer {
  position: fixed;
  bottom: 0;
  width: 100vw; /*우리가 보는 화면에 100%채운다*/
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}

.footer-icons__img {
  width: 30px;
}

.footer-icons:hover .footer-icons__img {
  animation: 1.2s icons-move;
}

@keyframes icons-move {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
